.home-root{
  height: calc(100vh - 270px);
}

@media (max-width: 770px) {
  .home-root {
    height: calc(100vh - 130px);
  }
}

@media (max-width: 568px) {
  .home-root {
    height: calc(100vh - 220px);
  }
}

