.list-segment{
  height: calc(100vh - 270px);
  overflow: auto;
}

@media (max-width: 770px) {
  .list-segment {
    height: calc(65vh - 130px);
    overflow: auto;
  }
}

@media (max-width: 568px) {
  .list-segment {
    height: calc(65vh - 130px);
    overflow: auto;
  }
}